::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 20px;
  background: #414141;
}
